:host {
  height: 100%;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

#inputUsername {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#inputPassword {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 0 auto;
}
