:host {
  height: 100%;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 0 auto;
}

.mat-card{
  padding: 0px 0px 20px 0px;
}

.mat-card-title{
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
}

.mat-card-header{
  background-color: #1f3b6a; 
  color: #ffffff;
}
.mat-card-header /deep/ .mat-card-header-text {
  margin: 0 auto;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}

.alert-danger {
  color: #a94442;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}


