################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Sipro/SiproModel/App.config
/Sipro/.vs/Sipro/v15/Server/sqlite3/db.lock
/Sipro/Sipro/Sipro/app.config