<div style="height: 100%; overflow: hidden;">
    <div style="height: 20%;">
        <h1 mat-dialog-title style="border-bottom: 1px double #ddd !important;">{{data.titulo}}</h1>
    </div>
    <div style="height: 60%;">
        <div style="height: 20%;"></div>
        <div style="height: 60%;">
            <div mat-dialog-content>
                <div fxLayout="column">
                    <div style="position: relative; top: 0; bottom: 0; width:100%; height: 100%;" *ngIf="mostrarcargando">
                        <mat-progress-spinner
                            class="progress-spinner"
                            [color]="color"
                            [mode]="mode"
                            [value]="value"
                            [diameter]="diameter" 
                            [strokeWidth]="strokewidth"
                        >
                        </mat-progress-spinner>
                        <div style="text-align: center; padding-top: 20px;">
                            <b>Cargando, por favor espere...</b>
                        </div> 
                    </div>           
                    <div *ngIf="!mostrarcargando">
                        <div fxLayout="row"> 
                            <input class="upload-file-text" type="text" fxFlex="95%" [(ngModel)]="nombreArchivo" [readonly]="true">
                            <input style="display: none;" (change)="cargarArchivo($event)" type="file" #file accept=".mpp">
                            <span fxLayoutAlign="center" class="upload-file-button" mat-button for="file" (click)="file.click()"><mat-icon style="padding-top: 5px;" class="search-info">search</mat-icon></span>
                        </div>
                        <br>
                        <div fxLayout="column">
                            <mat-checkbox color="primary" name="multiproyecto" [(ngModel)]="multiproyecto">
                                Multiproyecto
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 20%;"></div>
    </div>
    <div style="height: 20%;">
        <div mat-dialog-actions align="end" style="border-top: 1px double #ddd !important;">
            <button mat-raised-button id="applying-disabled" class="applying-btn" (click)="aceptar()" [disabled]="mostrarcargando">Ok</button>
            <button mat-raised-button id="primary-disabled" class="primary-btn" (click)="cancelar()" [disabled]="mostrarcargando">Cancelar</button>
        </div>
    </div>
</div>