.material-icons{
  font-size: 20px;
}

.divTabla{
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin-top: 40px;
  overflow-x: auto;
}

.totalCorrecto{
  border-bottom: 1px solid #398439;
}

.totalError{
  border-bottom: 1px solid #a94442;
}