:host {
    height: 100%;
  }
  
  .container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
  }
  
  .row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
  .centering {
    float: none;
    margin: 0 auto;
  }