<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
  <add name="EntityGenerator"
       connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.128.129)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=sipro_analytic;Password=m1nf1n;"
       providerName="Oracle.ManagedDataAccess.Client"/>
</connectionStrings>
  <providers>
    <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </providers>
</configuration>
