@page
@{
    Layout = null;
}
<div class="container container-fluid">
<div class="row-fluid">
    <form class="login-form">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #1f3b6a; color: #ffffff;">{{ sistema_nombre }}</div>
            <div class="panel-body">
                <label for="user" class="sr-only">Usuario</label>
                <input ng-model="login.username" ng-change="showerror=false" type="text"
                       id="inputUsername" class="form-control" placeholder="Usuario" required autofocus>
                <label for="pass" class="sr-only">Contraseña</label>
                <input ng-model="login.password" ng-change="showerror=false" type="password"
                       id="inputPassword" class="form-control" placeholder="Contraseña" required>
                @Html.AntiForgeryToken()
                <br />
                <div class="alert alert-danger text-center" role="alert" [hidden]="!showerror">Usuario y/o Contraseña incorrectos</div>
                <button class="btn btn-lg btn-primary btn-block" (click)="login()">Ingresar</button>
            </div>
        </div>
    </form>
</div>
</div>