/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/css/main.css';

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: transparent;
    line-height: unset;
}

ng-component {
  height: 100%;
}