@page
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta http - equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    @Html.Partial("~/Views/Shared/_include.cshtml")
    <script src="/app/components/main/main.controller.js"></script>
    <title></title>
</head>
@if (User.Identity.IsAuthenticated && User.IsInRole("General"))
{
    <body ng-app="sipro" ng-controller="MainController as mainController">
        @Html.Partial("~/Views/Shared/_menu.cshtml")
        <div id="mainview" class="all_page">
            <div ng-view class="all_page"></div>
        </div>
        <div class="div_alertas">
            <flash-message name="alertas">
            </flash-message>
        </div>
        <div class="footer">
            <div style="text-align: center; width: 100%;" class="label-form">- MINFIN 2017 -</div>
        </div>
    </body>
}
else
{
    Response.Redirect("/accesodenegado");
}
</html>